body {
	padding-top: 50px;
	font-family: Verdana;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 60px;
	background-image: url( '../img/back9.jpg' );
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

img {
	border: 2px solid #CDCDCD;
}

.span10 > div {
	border: 2px solid white;
	border-radius:3px;
	height: 375px;
	background-color: white;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
	
}
 
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}