body {
	padding-top: 50px;
	font-family: Verdana;
	font-size: 12px;
	padding-top: 20px;
	background-image: url( '../img/back9.jpg' );
}


.span2 > #avatar {
	border: 2px solid #CDCDCD;
	border-radius:3px;
}

.span2 > #details {
	margin-top: 10px;
	border-radius:3px;
	height: 210px;
	background-color: white;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
	
}

.span2 > #details .title {
	margin: 5px;
	text-indent:5px;
	font-weight: bold;
}

.span2 > #details .detail {
	margin: 5px;
	text-indent:25px;
}

.span10 > #main {
	border: 2px solid white;
	background-color: white;
	border-radius:3px;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.span10 > #about {
	text-align: justify;
	text-indent: 25px;
	padding: 25px;
	padding-bottom: 10px;
	padding-top: 0px;
	line-height: 375%;
	border: 2px solid white;
	border-radius:3px;
	font-weight: bold;
	background-color: white;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

.span10 > #main #name {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
#skills .span4 {
	text-indent:5px;
	border: 2px solid grey;
	border-radius:3px;	
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#experience .span12{
	text-indent:5px;
	border: 2px solid grey;
	border-radius:3px;	
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 185%;
}

hr {
	margin: 10px 0;
}

#experience .span8 > p {
	text-align: justify;
	text-indent: 5px;
	padding: 5px;
	padding-bottom: 0px;
	padding-top: 5px;
}

.span10 > #main #skills{
	
}	

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}
 
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}